/*CSS Reset*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
  /*put a border around everything to see where it stops and starts*/
/*     border:1px solid grey; */
}

body {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-family: 'Chelsea Market', cursive;
}

nav{
    display: inline-block;
    text-align: center;
    padding: 2%;
    width: 100%;
}

a{
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    border: 3px hidden black;
    text-decoration: none;
    color: white;
    padding: 2%;
    width: 20%;
}

footer {
    background: #F9E7DC;
}

.plan{
    background: #FF764E;
}

.learn{
    background: #5ED3EB;
}

.get{
    background: #FFCD69;
}

.top{
    background: #DDB9A3;
}